<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>inserted</key>
			<array>
				<dict>
					<key>feedUrl</key>
					<string>http://getpodcast.xyz/data/lizhi/1027923.xml</string>
					<key>title</key>
					<string>奋秋电台 🤓</string>
					<key>uuid</key>
					<string>4B12B170-524C-411C-A443-D97B4C8AE524</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/1027923.xml</string>
					<key>title</key>
					<string>奋秋电台 🤓大炮儿</string>
					<key>uuid</key>
					<string>76C4622A-1E9F-4536-AB98-6F6140BDDE39</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://storyfm.cn/feed/episodes</string>
					<key>storeId</key>
					<string>1256399960</string>
					<key>title</key>
					<string>故事 FM</string>
					<key>uuid</key>
					<string>76C7D6D1-3CA2-41C5-9837-0E3102E39874</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://www.ximalaya.com/album/14233494.xml</string>
					<key>storeId</key>
					<string>1001359572346</string>
					<key>title</key>
					<string>滚动新闻【今日头条】</string>
					<key>uuid</key>
					<string>285CB1B8-FDB8-4878-BD7F-A351CD5986CA</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/weixin/AlvinBachman-hsgt.xml</string>
					<key>title</key>
					<string>黑水怪谈</string>
					<key>uuid</key>
					<string>C6FFE6F7-F989-40B7-966B-CE4A6144E16B</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://getpodcast.xyz/data/weixin/AlvinBachman-hsgt.xml</string>
					<key>title</key>
					<string>黑水怪谈</string>
					<key>uuid</key>
					<string>8B6A524B-864A-4114-8F03-4451C409F675</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/weixin/AlvinBachman-hsj.xml</string>
					<key>title</key>
					<string>黑水记</string>
					<key>uuid</key>
					<string>2151683E-7E1C-4FB5-B1FC-4D2A1C088226</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://www.ximalaya.com/album/10831288.xml</string>
					<key>storeId</key>
					<string>1001294672281</string>
					<key>title</key>
					<string>黑水笑谈</string>
					<key>uuid</key>
					<string>77B213EB-055C-4F92-A28D-2D8781B0BCCD</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://feeds.jjldbk.com/all.xml</string>
					<key>storeId</key>
					<string>1086442347</string>
					<key>title</key>
					<string>津津乐道</string>
					<key>uuid</key>
					<string>8D82E5C0-7ECB-4417-995D-791E3A6A26AC</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/1668093.xml</string>
					<key>title</key>
					<string>京城三爷</string>
					<key>uuid</key>
					<string>C0BE60A6-12DD-4249-A989-A2F39835D178</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/163/792993555.xml</string>
					<key>title</key>
					<string>科技杂谈</string>
					<key>uuid</key>
					<string>B1436D1B-0E42-4507-8797-093281A47ED8</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/40744808.xml</string>
					<key>title</key>
					<string>磕头机电台</string>
					<key>uuid</key>
					<string>97E30750-3BB7-4D82-8DCB-AE926DD06DB3</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://getpodcast.xyz/data/lizhi/40744808.xml</string>
					<key>title</key>
					<string>磕头机电台</string>
					<key>uuid</key>
					<string>33E27397-6C64-4E4B-B8C7-46FE3BF00051</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://cdn.lizhi.fm/rss/1440194.xml</string>
					<key>storeId</key>
					<string>1027454253</string>
					<key>title</key>
					<string>毛嗑广播</string>
					<key>uuid</key>
					<string>E81E4E80-396F-4AA9-A81F-E8B90C2BBE3C</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/1440194.xml</string>
					<key>title</key>
					<string>毛嗑广播</string>
					<key>uuid</key>
					<string>8B9A16A6-2818-4C3A-B40C-80AECB4C6C82</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/2075809.xml</string>
					<key>title</key>
					<string>你想怎么聊</string>
					<key>uuid</key>
					<string>FEB0DE96-4852-45BD-AAE5-BA66E95C79DC</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://rss.kaolafm.com/MZ_RSS/rss/user/31350/pro.xml</string>
					<key>storeId</key>
					<string>703350893</string>
					<key>title</key>
					<string>三好坏男孩</string>
					<key>uuid</key>
					<string>CA8061E3-855E-4C68-8E91-F8B032CD867D</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/1372342.xml</string>
					<key>title</key>
					<string>脱客茶馆</string>
					<key>uuid</key>
					<string>97A87A13-E7F8-43CC-BFD9-9B9C14A60706</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/24869345.xml</string>
					<key>title</key>
					<string>野狗躲车电台</string>
					<key>uuid</key>
					<string>7E2A7ED7-EDF7-421E-A800-A2538CCE7513</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://rss.lizhi.fm/rss/202761.xml</string>
					<key>storeId</key>
					<string>1074214765</string>
					<key>title</key>
					<string>一番调贫</string>
					<key>uuid</key>
					<string>14C49937-7859-4467-BB13-DC6A58B56BBF</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>http://www.ximalaya.com/album/3676806.xml</string>
					<key>storeId</key>
					<string>1460776808</string>
					<key>title</key>
					<string>怡乐电台</string>
					<key>uuid</key>
					<string>493EA034-DBB3-47CD-9CBD-05B55D971E55</string>
				</dict>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/ximalaya/14407355.xml</string>
					<key>title</key>
					<string>在知识的海洋里~狗刨</string>
					<key>uuid</key>
					<string>FE54E43B-0B31-492B-BA4F-1CA5ECD3C930</string>
				</dict>
			</array>
		</dict>
		<key>stations</key>
		<dict>
			<key>inserted</key>
			<array>
				<dict>
					<key>title</key>
					<string>清凉一夏</string>
					<key>uuid</key>
					<string>2FEAE33F-CDB1-4B1E-B487-5255FD6A72B7</string>
				</dict>
			</array>
		</dict>
		<key>uuid</key>
		<string>0814A39E-78FA-4E75-A1F3-9FB47C6FB192</string>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>inserted</key>
			<array>
				<dict>
					<key>feedUrl</key>
					<string>https://getpodcast.xyz/data/lizhi/1027923.xml</string>
					<key>title</key>
					<string>奋秋电台 🤓</string>
					<key>uuid</key>
					<string>76C4622A-1E9F-4536-AB98-6F6140BDDE39</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>FEB0DE96-4852-45BD-AAE5-BA66E95C79DC</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>FE54E43B-0B31-492B-BA4F-1CA5ECD3C930</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>CA8061E3-855E-4C68-8E91-F8B032CD867D</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>2151683E-7E1C-4FB5-B1FC-4D2A1C088226</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>C6FFE6F7-F989-40B7-966B-CE4A6144E16B</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>77B213EB-055C-4F92-A28D-2D8781B0BCCD</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>33E27397-6C64-4E4B-B8C7-46FE3BF00051</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>E81E4E80-396F-4AA9-A81F-E8B90C2BBE3C</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>493EA034-DBB3-47CD-9CBD-05B55D971E55</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>76C4622A-1E9F-4536-AB98-6F6140BDDE39</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>285CB1B8-FDB8-4878-BD7F-A351CD5986CA</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>7E2A7ED7-EDF7-421E-A800-A2538CCE7513</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>4B12B170-524C-411C-A443-D97B4C8AE524</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>8D82E5C0-7ECB-4417-995D-791E3A6A26AC</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>14C49937-7859-4467-BB13-DC6A58B56BBF</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>97A87A13-E7F8-43CC-BFD9-9B9C14A60706</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>8B9A16A6-2818-4C3A-B40C-80AECB4C6C82</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>97E30750-3BB7-4D82-8DCB-AE926DD06DB3</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>B1436D1B-0E42-4507-8797-093281A47ED8</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>C0BE60A6-12DD-4249-A989-A2F39835D178</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>76C7D6D1-3CA2-41C5-9837-0E3102E39874</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>podcasts</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>8B6A524B-864A-4114-8F03-4451C409F675</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>stations</key>
		<dict>
			<key>inserted</key>
			<array>
				<dict>
					<key>title</key>
					<string>本地</string>
					<key>uuid</key>
					<string>FD45D3FE-328D-4347-ABAB-9689DE8D5103</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>stations</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>FD45D3FE-328D-4347-ABAB-9689DE8D5103</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>stations</key>
		<dict>
			<key>deleted</key>
			<array>
				<string>2FEAE33F-CDB1-4B1E-B487-5255FD6A72B7</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
