<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1649,195},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{938,262},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,3.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1561,97},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_next_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,98}</string>
                <key>spriteSourceSize</key>
                <string>{153,98}</string>
                <key>textureRect</key>
                <string>{{1096,2},{153,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_next_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,98}</string>
                <key>spriteSourceSize</key>
                <string>{153,98}</string>
                <key>textureRect</key>
                <string>{{938,162},{153,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_pause_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,125}</string>
                <key>spriteSourceSize</key>
                <string>{232,125}</string>
                <key>textureRect</key>
                <string>{{2,162},{232,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_pause_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,125}</string>
                <key>spriteSourceSize</key>
                <string>{232,125}</string>
                <key>textureRect</key>
                <string>{{236,162},{232,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_play_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,125}</string>
                <key>spriteSourceSize</key>
                <string>{232,125}</string>
                <key>textureRect</key>
                <string>{{470,162},{232,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_play_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,125}</string>
                <key>spriteSourceSize</key>
                <string>{232,125}</string>
                <key>textureRect</key>
                <string>{{704,162},{232,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_prev_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,98}</string>
                <key>spriteSourceSize</key>
                <string>{153,98}</string>
                <key>textureRect</key>
                <string>{{1251,2},{153,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_game_prev_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,98}</string>
                <key>spriteSourceSize</key>
                <string>{153,98}</string>
                <key>textureRect</key>
                <string>{{1406,2},{153,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_gamecenter_achievements_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{75,93}</string>
                <key>textureRect</key>
                <string>{{1093,197},{75,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_gamecenter_achievements_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{75,93}</string>
                <key>textureRect</key>
                <string>{{1188,197},{75,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_gamecenter_leaderboard_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{75,93}</string>
                <key>textureRect</key>
                <string>{{1283,197},{75,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_gamecenter_leaderboard_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{75,93}</string>
                <key>textureRect</key>
                <string>{{1378,197},{75,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_menu_slotBack_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{160,93}</string>
                <key>textureRect</key>
                <string>{{1469,197},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_menu_slotBack_foucs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{160,93}</string>
                <key>textureRect</key>
                <string>{{1559,197},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_share_default_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1691,97},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_share_default_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1789,121},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_share_facebook_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1561,2},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_share_facebook_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1680,2},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_share_sinaweibo_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1799,2},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_share_sinaweibo_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1096,102},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_share_tencentweibo_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1215,102},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_share_tencentweibo_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1334,102},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_share_twitter_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1453,102},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_share_twitter_focus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1572,97},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1716,195},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,1092}</string>
                <key>spriteSourceSize</key>
                <string>{78,1092}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,1092}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wall4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,1092}</string>
                <key>spriteSourceSize</key>
                <string>{78,1092}</string>
                <key>textureRect</key>
                <string>{{2,82},{78,1092}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test-hd.png</string>
            <key>size</key>
            <string>{1894,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eabb91615395b78bd00d0981e9beeba0:febbe956cf0f4f012de220c84913b797:1512c5e42af7531a6eacc1810e4d9c6c$</string>
            <key>textureFileName</key>
            <string>test-hd.png</string>
        </dict>
    </dict>
</plist>
